<%= page_title "Snorby Login" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'validate'}) do |f| %>
  
	<ul class="rounded">
  	<li><%= f.text_field :email, :placeholder => 'E-mail...', :autocomplete => :off, :class => 'required email' %></li>
	</ul>
	
	<ul class="rounded">
		<li><%= f.password_field :password, :placeholder => 'Password...', :autocomplete => :off, :class => 'required password' %></li>
  </ul>

  <% if devise_mapping.rememberable? -%>
    <ul class="rounded">
			<li><%= f.check_box :remember_me %> <%= f.label :remember_me %></li>
		</ul>
  <% end -%>
	
	<%= link_to "Submit", nil, :class => 'whiteButton submit' %>

<% end %>